.btn-prod {
  width: 179px;
  height: 52px;
  background-color: #fff;
  border: none;
  color: #05bc52;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-prod:hover {
  background-color: #0a943fec;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.btn-prod:active {
  background-color: #f7f9f8;
}


