.preview-card-container {
  padding-top: 20px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.card-container {
  padding: 21px 0 0 69px;
  background-color: #fff;
}

.card-title {
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
}

.product-name {
  justify-content: start;
  align-items: flex-end;
  margin-bottom: 32px;
}

.btn-arow {
  border: none;
  background-color: #fff;
  margin-right: 70px;
  margin-left: -31px;
  cursor: pointer;
}

.details {
  flex-direction: column;
}

.product-details {
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin-left: 30px;
}

.product-image {
  width: 396px;
  height: 268px;
  margin-right: 45px;
  margin-bottom: 44px;
}

.product-image:hover {
  transform: scale(1.1);
  transition: transform 0.6s;
}

.check {
  align-items: center;
}

.check-image {
  color: #3cd78c;
  text-align: center;
  font-size: 36px;
  margin-left: 7px;
}

.product-price {
  color: #fc5b00;
  text-align: center;
  font-size: 36px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.ua-preview {
  color: #fc5b00;
  font-weight: 700;
}

.product-quantity {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.wrap {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper {
  font-size: 32px;
  margin-left: 10px;
}

.card-title-wrap {
  color: #d9d9d9;
  font-size: 32px;
  margin-left: 15px;
}

.product-description {
  width: 1222px;
  height: 338px;
}

.product-description-subtitle {
  font-weight: 700;
  margin: 0;
}

.description {
  font-weight: 400;
  margin: 0 0 20px 0;
}


