.input {
  width: 277px;
  height: 56px;
  background-color: #d9d9d9;
  color: #44b26f;
  font-size: 16px;
  margin-top: 46px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
}

input::placeholder {
  color: #44b26f;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-indent: 18px;
}

.input.error {
  border: 1px solid red;
}

@media (max-width: 767.98px) {
  .input {
    width: 227px;
    height: 46px;
    font-size: 14px;
    margin-top: 42px;
  }

  input::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 479.98px) {
   .input {
    width: 207px;
    height: 36px;
    font-size: 12px;
    margin-top: 36px;
  }

  input::placeholder {
    font-size: 12px;
  }
}
