.preview-container {
  padding: 20px 0;
}

.container {
  width: 1320px;
  margin: 46px auto;
  display: grid;
  gap: 61px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  padding: 0 15px;
}

@media (max-width: 767.98px) {
  .container {
    gap: 31px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479.98px) {
  .container {
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}