.product-card {
  width: 233px;
  height: 321px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.435);
  padding: 37px 13px 18px 27px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.img-product {
  width: 209px;
  height: 139px;
  margin-bottom: 12px;
}

.img-product:hover {
  transform: scale(1.1);
  transition: transform 0.6s;
}

.title-product {
  color: #000;
  text-align: center;
  font-size: 16px;
  margin-bottom: 22px;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.buy {
  display: flex;
  align-items: center;
}

.price {
  color: #fc5b00;
  text-align: center;
  font-size: 24px;
}
.ua {
  color: #fc5b00;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.quantity {
  color: #000;
  text-align: center;
  font-size: 15px;
}

.cart-product-img {
  width: 35px;
  height: 28px;
  margin-right: 8px;
}

.cart-product-img:hover {
  transform: scale(1.2);
  transition: transform 0.6s;
}

.send {
  color: #05bc52;
  text-align: center;
  font-size: 15px;
}

@media (max-width: 767.98px) {
  .product-card {
    width: 178px;
    height: 221px;
    padding: 27px 10px 12px 18px;
  }

  .img-product {
    width: 150px;
    height: 88px;
    margin-bottom: 10px;
  }

  .title-product {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .cost {
    margin-bottom: 15px;
  }

  .price {
    font-size: 18px;
  }
  .ua {
    font-size: 12px;
  }

  .quantity {
    font-size: 13px;
  }

  .cart-product-img {
    width: 30px;
    height: 22px;
    margin-right: 5px;
  }

  .send {
    font-size: 13px;
  }
}
@media (max-width: 479.98px) {
  .product-card {
    width: 162px;
    height: 200px;
    padding: 18px 9px 10px 14px;
  }

  .img-product {
    width: 135px;
    height: 78px;
    margin-bottom: 8px;
  }

  .title-product {
    font-size: 13px;
  }

  .price {
    font-size: 14px;
  }
  .ua {
    font-size: 10px;
  }

  .quantity {
    font-size: 12px;
  }

  .cart-product-img {
    width: 22px;
    height: 15px;
  }

  .send {
    font-size: 12px;
  }
}
