.products-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.logo {
  width: 240px;
  height: 40px;
  margin: 0 0 16px 29px;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 70px 5px 70px;
}

.btn-icon {
  width: 35px;
  height: 35px;
  color: #000;
  margin: 14px 14px 13px 10px;
}

.title {
  color: #fff;
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
